.fishModel {
    .fish {
      position: absolute;
      width: 100%;
      bottom: 20%;
  
      right: 80%;
      &Model {
        position: absolute;
  
        svg {
          width: 100%;
          height: auto;
        }
      }
    }

   

  }
  .text {
    position: absolute;
    color: orangered;
    font-weight: 800px;
    font-size: 6vw; /* Use vw unit for responsive font size */
    left: 73%;
    top: 22%; /* Adjust the percentage value for vertical positioning */
    z-index: 10;
  }