:global {
  .rhap_container {
    background: transparent;
    box-shadow: none;
    position: fixed;
    height: 100%;
    z-index: 5;
    padding: 0;
    .rhap_main {
      justify-content: center;
      align-items: center;

      .rhap_controls-section {
        margin: 0;
      }
      .rhap_progress-section,
      .rhap_additional-controls,
      .rhap_volume-controls {
        display: none;
      }

      .rhap_main-controls {
        button {
          width: 100%;
          height: 100%;
          margin: 0;
        }
      }
    }
  }
}

.hidden {
  display: none;
  opacity: 0;
  z-index: -1;
}
